html, body {
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.conteiner {
    width: 100vw;
    height: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.blocoLista {
    width: 1000px;
    height: 650px;
    background-image: url("./wepik-creative-things-to-do-list-20240319142023uhK9.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    
}
 
#padding45px{
padding-top: 45px;
}
    

.concluida {
    text-decoration: line-through;
    opacity: 0.5;
}

button, input {
    border-radius: 5px;
    width: 180px;
    height: 30px;
    font-weight: 500;
}
    
button{
    background-color: #f35a23;
    border-style: none;
    margin-top: 15px;
    color: #ffffff;
}

input{
    border-color: #f35a23;

}

::-webkit-input-placeholder{
    color: #35a494;
    font-weight: 500;
}

 
ul {
    width: 600px;
    min-height: 300px;
    background-color: #ffbdaa;
    color: #ffffff;
    border-radius: 5px;
}

h1{
    color: #f35a23;
}
